# Xcode
*.xcuserdata
*.xcuserstate
*.xcworkspace
# Ignore all internal files inside the Xcode project bundle
forecast-machine-cpp.xcodeproj/*
DerivedData/
build/

# macOS
.DS_Store

# C++
*.o
*.out
*.log

